.titre {
    color: white;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}


.background-orange {
    background-color: #ff9d00;
}

body {
    background-color: #292727;
    color: white;
    
    
}

.text-black {
    background-color: #ffffff;
    color: #292727;
}

th,
tr,
td {
    border: 0.5px solid grey;
    border-collapse: collapse;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.background-red {
    background-color: #ec3d45;
}

.background-blue {
    background-color: #08b9ca;
}

.color-orange {
    color: #ff9d00;
    font-size: 1.5rem;
}

.color-red {
    color: #ec3d45;
    font-size: 1.5rem;
}

.color-blue {
    color: #08b9ca;
    font-size: 1.5rem;
}

.icon-red {
    color: red;
    font-size: 2rem;
    font-weight: bolder;
}


.icon-green {
    color: green;
    font-size: 2rem;
}

td:first-child {
    text-align: left;
    width: 30rem;
    padding-left: 2rem;
}
td.comparer {
    padding-left: 1rem;
}

.table {
    border-collapse: collapse;
    margin: 5rem auto;
}

.button {
    border-radius: 30px;
    background-color: #ff9d00;
    text-align: center;
    width: 8rem;
    margin : 0 auto;
    padding : 0.5rem 0;
}
.button:hover{
    background-color: red;
}

foot {
    size: 10rem;
}

.height {
    height: 5rem
}
